@font-face {
      font-family: 'findicons';
      src: url('./font/findicons.eot?4914503');
      src: url('./font/findicons.eot?4914503#iefix') format('embedded-opentype'),
           url('./font/findicons.woff?4914503') format('woff'),
           url('./font/findicons.ttf?4914503') format('truetype'),
           url('./font/findicons.svg?4914503#findicons') format('svg');
      font-weight: normal;
      font-style: normal;
    }


    .demo-icon
    {
      font-family: "findicons";
      font-style: normal;
      font-weight: normal;
      speak: none;

      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      /* opacity: .8; */

      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;

      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;

      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;

      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */

      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }
.mb-0{margin-bottom: 0;}
.uppercase{text-transform: uppercase;}
header nav{background-color: #aad509 !important;}
header nav .navbar-nav > li > a{color: white !important;}
body{color: #1946bb !important}
.bkgnd-green{background-color: #aad509 !important;}
.bkgnd-green-t{background-image: url('../images/find/bg-verde-slider.png') !important;}
.bkgnd-blue{background-color: #1946bb !important;}
.bkgnd-blue-t{background-image: url('../images/find/bg-azul.png') !important;}
.white{color: white !important;}
.green{color: #aad509 !important;}
.blue{color: #1946bb !important;}
.fw-l{font-weight: lighter !important;}
.fw-b{font-weight: bold !important;}
.feature-box-9:hover i{color: #1946bb !important;}
.feature-box-9:hover p{color: #aad509 !important;}
.text-big{font-size: 20px;}
.fs-15{font-size: 15px !important;}
.mt-30{margin-top: 30px;}
.mb-30{margin-bottom: 30px;}
.btn.btn-deep-blue {
    background: #1946bb;
    border-color: #1946bb;
    color: #ffffff;
}
.btn.btn-deep-blue:hover, .btn.btn-deep-blue:focus {
    background: transparent;
    border-color: #1946bb;
    color: #1946bb;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
  font-size: 12px !important;
  padding: 25px 28px 0px !important;
}
.p-30{
  padding: 30px;
}
.slider-typography{
  width: fit-content !important;
  margin: auto;
}
header a.logo img{
  max-height: 50px !important;
}
.input-file{background: white; color: #737373;height: 40px;position: relative;text-align: left;padding: 8px 0 0 18px;margin: 0 0 20px 0;}
.input-file .btn{
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 2px 2px 2px 2px grey;
  font-size: 10px;
  padding: 5px;
  line-height: 25px;
}
#FIND p {
    margin: 0 0 13px;
}
#FIND h5{margin: 0 0 15px;}
.montserrat{font-family: 'Montserrat', sans-serif;}
.footer-logo {
    max-height: 45px;
}
#popupContainer{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0000008f;
	display: none;
  z-index: 99999;
}
#popupContainer .contact-form{
	position: fixed;
  display: table;
  width: 100%;
  height: 100%;
	padding: calc(50vh - 200px) calc(50vw - 270px);
}
.containerpop{
	width: 500px;
	display: table-cell;
	vertical-align: middle;
	background: white;
	padding: 25px;
	position: relative;
}
.cerrar{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: black;
	cursor: pointer;
}
#popupContainer .form-control{margin-bottom: 25px;}
#popupContainer textarea{height: 100px;}
#popupContainer .theme-btn-s4{background-color: black; color: white;}
@media (max-width: 800px) {
  #popupContainer .contact-form{padding: 40px calc(50vw - 270px);}
}
@media (max-width: 400px) {
  #popupContainer .contact-form{padding: 40px 20px; }
}
@media (max-width: 400px) {
  #popupContainer .contact-form{padding: 5px; }
  #popupContainer input, #popupContainer textarea, #popupContainer select{
    margin: 0 0 10px 0;
  }
  #popupContainer textarea{height: 40px;}
}
.parallax{background-position: center !important;}
nav.navbar.bootsnav .navbar-nav{background-color: #aad509 !important;}
